body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding:10 px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgray;
}
footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    text-align: right;
    position:fixed;
}