{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Лабораторная работа №3</h1>
    <div>Тема лабораторной — Формы, cookie.</div>

    <div>
        Привет, <span style="color: {{ name_color }}">{{ name }}</span>!
    </div>
    <div>
        Твой возраст: {{ age }}
    </div>

    <div>Список сделанных страниц:</div>
    <ul>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/del_cookie">Удалить куки</a></li>
        <li><a href="/lab3/form1">Форма</a></li>
        <li><a href="/lab3/order">Заказ напитка</a></li>
        <li><a href="/lab3/settings">Настройки</a></li>
        <li><a href="/lab3/train">Билет на поезд</a></li>
    </ul>
{% endblock %}