    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .rgz-container {
        flex: 1; 
    }

    .rgz-top {
        background: whitesmoke;
        padding: 15px 10px;
        text-align: center;
        box-shadow: 0 0 4px rgba(0,0,0,0.15);
        margin-bottom: 20px;
    }

    .rgz-title-main {
        font-size: 22px;
        font-weight: bold;
    }

    .rgz-student {
        font-size: 14px;
        color: gray;
        margin-top: 3px;
    }

    .rgz-container {
        width: 80%;
        margin: 0 auto;
    }

    .rgz-footer {
        margin-top: 40px;
        text-align: center;
        padding: 10px;
        font-size: 13px;
        color: gray;
        background: whitesmoke;
    }

    #locker-grid {
        display: grid;
        grid-template-columns: repeat(10, 40px);
        grid-auto-rows: 40px;
        gap: 6px;
        margin-top: 20px;
        margin: 20px auto;
        justify-content: center;
    }

    .cell {
        width: 40px;
        height: 40px;
        border: 2px solid black;
        background: gainsboro;
        cursor: pointer;
    }

    .cell.occupied {
        background: black;
    }

    .cell.mine {
        background: lightgreen;
    }