{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Лабораторная работа №2</h1>
    <div>Тема лабораторной — Шаблоны. Список сделанных страниц:</div>

    <ul>
        <li><a href="{{ url_for('lab2.all_flowers') }}">/lab2/flowers</a> — список всех цветов</li>
        <li><a href="{{ url_for('lab2.add_flower_no_name') }}">/lab2/add_flower/</a> — ошибка 400 (нет имени)</li>
        <li><a href="{{ url_for('lab2.clear_flowers') }}">/lab2/flowers/clear</a> — очистить список цветов</li>

        <li><a href="{{ url_for('lab2.calc_default') }}">/lab2/calc/</a> — калькулятор (по умолчанию 1 и 1)</li>

        <li><a href="{{ url_for('lab2.books_list') }}">/lab2/books</a> — список книг</li>

        <li><a href="{{ url_for('lab2.filters') }}">/lab2/filters</a> — фильтры</li>

        <li><a href="{{ url_for('lab2.vegetables_gallery') }}">/lab2/vegetables</a> — галерея овощей</li>
    </ul>
{% endblock %}
